a{
	text-decoration: none;
	font-size: 12pt;
	color: hsl(223,93%,38%);
}

article{
	
}

body{
	background-color: #f2f2f2;
	background-image: url(../img/bg2.jpg);

	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;

	top: 70px;

	padding-left: 10em;
	padding-right: 10em;
}

blockquote{

}



footer{

	height: 40px;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #27BC85;
}


h2{
	text-align: center;
}

header{
	height: 70px;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #01bc78;

}


li{
	list-style-type: none;


}



nav{


}


.nav_ul{

	left: 10px;
	top: 70px;
	bottom: 20px;
	position: fixed;
	width: 8%;

	font-size: 12 em;
	height: 100%;
}

.fast_find{
	position: static;
}

.fast_find_li{
	display: inline;
	margin-right: 20px;

}

.select_source{

	width: 150px;

	border-radius:5px;
	border: 1px solid transparent;

	position: fixed;
	top: 20px;
	right: 220px;
}


#div1{

	position: fixed;
	top: 70px;
	bottom: 40px;

	overflow: auto;


}

#find input[type="text"]{

	width: 150px;

	position: fixed;
	top: 20px;
	right: 40px;

	border-radius:5px;
	border: 1px solid transparent;

}


#up, #down{
	font-size: 20pt;
}

.red_text{
	color: red;
}
