<!DOCTYPE html>
<html ng-app="store">
<head>
	<title>Flowers store</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta charset="utf-8">
</head>
<body>
	<header>
		<h1>Flowers store</h1>
	</header>
	<main ng-controller="storeController as store">
		<nav>
			<p><b>Catalog</b></p>
			<ul ng-repeat="product in store.product">
				<li><a href="#{{product.name}}">{{product.name}}</a></li>
			</ul>
		</nav>
	   	<div class="container">
			<div class="item" ng-repeat="product in store.product" ng-show="product.count">
				<h2 id="{{product.name}}">{{product.name}}</h2>
				<img ng-src="{{product.picture}}">
				<p>{{product.description}}</p>
				<div class="g-price">{{product.price}}</div>
				<button class="basket">Купить</button>
			</div>
		</div>
	</main>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>