<!DOCTYPE html>
<html>
	<head>
		<title>My project 1</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/normalize.css"/>

		<link rel="stylesheet" type="text/css" href="css/style.css"/>

	</head>
	<body>
		<header class="header">
			<div class="container">
				<h1>Main header here</h1>
				<h2>
					<small>And small sub header</small>
				</h2>
			</div>
		</header>
		<nav class="page-navigation">
			<div class="container">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>
					<form action="#" class="login">
						<input type="text" name="" placeholder="Login" required>
						<input type="password" name="" placeholder="Password" required>
						<input type="submit" value="Sign in">
					</form>
				
			</div>
		</nav>

		<main>
			<div class="container">
				<h2 class="collection-title">Image collection<small> Vizualize Quality</small></h2>
				<div class="collections">
					<div class="collection-item-autor">
						<div class="collection-item">
							<img src="img/profile.jpg" alt="List picture">
							<div class="collection-text">
								<h3>List element item</h3>
								<p>Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance.  Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance. 

								</p>
								<button onclick="showtext(this)">Read more...</button>
							</div>
						</div>
					</div>
					<div class="collection-item-autor">
						<div class="collection-item">
							<img src="img/profile.jpg" alt="List picture">
							<div class="collection-text">
								<h3>List element item</h3>
								<p>Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance.  Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance. 
								</p>
								<button onclick="showtext(this)">Read more...</button>
							</div>
						</div>
					</div>
					<div class="collection-item-autor">
						<div class="collection-item">
							<img src="img/profile.jpg" alt="List picture">
							<div class="collection-text">
								<h3>List element item. Chamber hearing inhabit joy highest private</h3>
								<p>Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance.  Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance. 
								</p>
								<button onclick="showtext(this)">Read more...</button>
							</div>
						</div>
					</div>
				</div>

				<h2 class="collection-title">Video collection <small> Vizualize Quality</small></h2>
				<div class="collections">
					<div class="collection-item-autor">
						<div class="collection-item">
							<video controls>
								<source src="video/movie.mp4" type="video/mp4">
							</video>
							<div class="collection-text"> 
								<h3>List element item</h3>
								<p>Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance. 
								</p>
								<button onclick="showtext(this)">Read more...</button>
							</div>
					</div>
				</div>
								
					<div class="collection-item-autor">
						<div class="collection-item">
							<video controls>
								<source src="video/movie.mp4" type="video/mp4">
							</video>
							<div class="collection-text"> 
								<h3>List element item</h3>
								<p>Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance. 
								</p>
								<button onclick="showtext(this)">Read more...</button>
							
								</div>
							</div>
						</div>
								
						<div class="collection-item-autor">
							<div class="collection-item">
								<video controls>
									<source src="video/movie.mp4" type="video/mp4">
								</video>
								<div class="collection-text"> 
									<h3>List element item</h3>
									<p>Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance. 
									</p>
								<button onclick="showtext(this)">Read more...</button>
								</div>
							</div>
						</div>
					</div>		
				</div>
			
		</main>
		<footer class="footer">
			<div class="container">
				<p>Copyring Example.com @2017</p>
			</div>
		</footer>
	</body>
    <script src="script/script.js"></script>
</html>


