body{
	background-color: #f2f2f2;
	background-image: url(../img/bg2.jpg);

	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;

	margin: 0 0 0 0;
}

header{
	height: 70px;
	width: 100%;
	margin-top: -10px;

	background-color: #ef5a9c;
}

main{

	width: 100%;
	height: calc(100% - 70px);
	margin-top: 0px;

}
main::after{
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
}

article{

	width: 90%;
	height: 100%;
	float: right;
}

nav{
	position: fixed;
	width: 10%;
}

@media screen and (orientation: portrait) {
 	nav{
		font-size: 2em;
	}
}

footer{

	height: 40px;
	width: 100%;
	text-align: center;
	bottom: 0px;
	left: 0px;
	background-color: #27BC85;
}

form{
	width: 150px;

}

a{
	text-decoration: none;
	font-size: 12pt;
	color: hsl(223,93%,38%);
}

li{
	list-style-type: none;
}


.select_source{

	width: 150px;
	border-radius:5px;
	border: 1px solid transparent;
}

#find input[type="text"]{

	width: 150px;
	border-radius:5px;
	border: 1px solid transparent;

}

.fast_find{
	position: static;
}

.fast_find_li{
	display: inline;
	margin-right: 20px;

}
.headers_ul{
	margin-right: 10px;
	margin-top: 25px;
	float: right;

}

.headers_li{
	display: inline-block;


}

#up, #down{
	font-size: 20pt;
}



.nav_ul{
	margin-top: 0px;
}
